.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f9f9fa;
    padding: 20px 50px;
    box-sizing: border-box;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__link {
    position: relative;
    color: #2e363e;
    transform: translateY(80px);
    opacity: 0;
    animation: appearBtnAnimation 1.5s ease-in-out forwards;
}

@keyframes notificationAnimation {
    0% {
        transform: none;
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: none;
    }
}

.nav__notification {
    position: absolute;
    left: 11px;
    bottom: 9px; 
    animation: notificationAnimation 3s ease-in-out infinite;
}

.nav__point {
    background-color: tomato;
    width: 4px;
    height: 4px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 22px;
    bottom: 15px;
}

@keyframes appearBtnAnimation {
    from {
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}

.nav__link:nth-child(2) {
    animation-delay: 0.3s;
}

.nav__link:nth-child(3) {
    animation-delay: 0.6s;
}
.nav__link:last-child {
    animation-delay: 0.9s;
}